@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

body {
    font-family: 'Nunito', sans-serif;
    background: linear-gradient(135deg, rgba(195, 24, 72, 0.321), #5b053a);
}

#containment-wrapper {
    position: relative;
    height: 400px;
    border: 3px dashed #333;
    border-radius: 12px;
    background: #fffdfe;
}

#doge-meme-pic {
    height: 100px;
    cursor: grab;
}

#doge-meme-pic:active {
    cursor: grabbing;
}

h1, h3 {
    font-weight: 700;
}

.card {
    border-left: 6px solid #ff009d68;
}

.navbar-brand {
    font-weight: bold;
}
